@charset "UTF-8";

body {
    font-family: 'Noto Sans', sans-serif;
    color: #333333;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}

/* header */
.headerFixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header__logo {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 0;
    background-color: #fff;
}

.header__img {
    display: inline-block;
}

.header__nav {
    background-color: #333333;
    color: #FFF;
}

.header__info {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__list {
    font-size: 14px;
}

.header__list:hover {
    opacity: .8;
}

.header__link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* main */
/* pickup */
.pickupMg {
    margin-top: 113px;
}

.pickupPd {
    padding-top: 39px;
    padding-bottom: 70px;
}

.pickup__info {
    display: flex;
    justify-content: space-between;
}

.pickup__list {
    width: calc(100%/3 - 23px);
}

.pickup__img {
    width: 100%;
}

.pickup__txt {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.pickup__more {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.pickup__link {
    position: relative;
}

.pickup__link:hover {
    opacity: .7;
}

.pickup__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: all .2s ease;
    background-color: #333;
}

.pickup__link:hover::after {
    opacity: 0;
    transform: translateY(3px);
}

/* content */
.contentFlex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.main {
    width: 73%;
}

.aside {
    width: 25%;
}

/* article */
.article:nth-of-type(2) {
    padding-top: 80px;
    padding-bottom: 80px;
}

.article__ttl {
    font-size: 24px;
}

.article__ttlLink:hover {
    opacity: .7;
}

.article__date {
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 14px;
}

.article__category {
    display: inline-block;
    font-size: 14px;
}

.article__img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article__txt {
    padding-right: 41px;
    padding-left: 41px;
}

.article__more {
    margin-top: 20px;
    text-align: center;
}

.article__link {
    position: relative;
}

.article__link:hover {
    opacity: .7;
}

.article__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: all .2s ease;
    background-color: #333;
}

.article__link:hover::after {
    opacity: 0;
    transform: translateY(3px);
}

/* author */
.author__img {
    margin-top: 20px;
    text-align: center;
}

.author__img>img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.author__name {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.author__txt {
    font-size: 14px;
}

/* ranking & archive*/
.ranking__ttl,
.archive__ttl {
    text-align: center;
    font-size: 18px;
}

.ranking__txt,
.archive__list {
    font-size: 14px;
}

.ranking {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ranking__list {
    margin-top: 30px;
}

.ranking__link:hover {
    opacity: .8;
}

.archive__info {
    margin-top: 30px;
}

.archive__list {
    width: 100%;
    padding: 20px;
    border-top: 1px solid #777777;
}

.archive__list:last-child {
    border-bottom: 1px solid #777777;
}

.archive__link {
    color: #1a0dab;
}

.archive__link:hover {
    color: #ff0000;
    opacity: .8;
}

/* footer */
.footerBg {
    background-color: #F7F7F7;
}

.footerMg {
    margin-top: 140px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
}

.footer__items {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}

.about,
.menu,
.twitter {
    width: calc(100%/3 - 30px);
}

.about__ttl,
.menu__ttl,
.twitter__ttl {
    font-size: 18px;
}

.about__txt,
.menu__list {
    font-size: 14px;
}

.about__txt,
.menu__info,
.twitter__timeline {
    margin-top: 30px;
}

.about__info {
    margin-top: 20px;
}

.about__list {
    margin-top: 5px;
}

.about__list:first-child {
    margin-top: 0;
}

.about__link::before {
    content: "▶";
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 8px;
}

.about__link:hover {
    opacity: .8;
}

.menu__list {
    padding: 15px;
    border-top: 1px solid #777777;
}

.menu__list:last-child {
    border-bottom: 1px solid #777777;
}

.menu__link:hover {
    opacity: .7;
}

.twitter__timeline {
    width: 100%;
}

.footer__copy {
    display: block;
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 960px) {
    .footer__flex {
        flex-direction: column;
        justify-content: center;
        gap: 60px;
    }

    .about,
    .menu,
    .twitter {
        width: 100%;
    }
}

@media (max-width: 690px) {
    .header__logo {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header__info {
        overflow: scroll;
        gap: 40px;
    }

    .pickupMg {
        margin-top: 103px;
    }

    .pickupPd {
        padding-top: 19px;
        padding-bottom: 60px;
    }

    .pickup__info {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .pickup__list {
        width: 100%;
    }

    .contentFlex {
        flex-direction: column;
        justify-content: center;
        gap: 70px;
    }

    .main {
        width: 100%;
    }

    .aside {
        width: 100%;
    }

    .article__txt {
        padding-right: 0;
        padding-left: 0;
    }

    .article:nth-of-type(2) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .article__more {
        margin-top: 15px;
    }

    .author__img {
        margin-top: 0;
    }

    .author__name {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .ranking__list {
        margin-top: 40px;
    }

    .ranking__txt {
        padding-top: 6px;
    }

    .ranking__list:nth-of-type(1) {
        margin-top: 18px;
    }

    .archive__list {
        padding: 10px;
    }

    .footerMg {
        margin-top: 80px;
    }

    .footer__items {
        padding-top: 30px;
    }

    .about__txt,
    .menu__info,
    .twitter__timeline {
        margin-top: 15px;
    }

    .footer__copy {
        margin-top: 40px;
    }
}