@charset "UTF-8";

body {
    background-color: #E6E2D7;
    font-family: 'Noto Serif JP', serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3%;
}

/* others */
.vrl {
    width: 100%;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.vlr {
    width: 100%;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

.num {
    text-orientation: upright;
}

.mt180 {
    margin-top: 180px;
}

.ft32 {
    font-size: 32px;
    font-weight: normal;
}

.ft18 {
    font-size: 18px;
}

.ft14 {
    font-size: 14px;
}

/* header */
.header__items {
    position: relative;
    height: 100vh;
    padding: 60px 80px;
    background-image: url(../img/mainvisual-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
}

.header__btn {
    position: absolute;
    /* left: 30px; */
    left: 5%;
    /* bottom: 40px; */
    bottom: 5%;
    padding: 8px;
    background-color: rgba(69, 69, 69, .9);
}

.header__ec {
    padding: 30px 18px;
    border: 1px solid #CCCCCC;
}

.header__ec:hover {
    opacity: .8;
}

.nav {
    margin-right: 60px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav__info>a:hover {
    opacity: .8;
}

/* news */
.news__ttl::before {
    content: "News";
    display: block;
    font-size: 14px;
}

.news__items {
    width: 100%;
}

.news__list {
    margin-top: 70px;
    margin-right: 100px;
}

.news__info {
    padding: 30px;
    border-right: 1px solid #000;
}

.news__info:last-child {
    border-left: 1px solid #000;
}

.news__article {
    margin-right: 5px;
}

.news__article > a:hover {
    opacity: .7;
}

/* value & tech */
.value__ttl::after {
    content: "Creation of New Value";
    margin-top: 18px;
    font-size: 14px;
    text-align: center;
}

.tech__ttl::after {
    content: "Tech and Science";
    margin-top: 18px;
    font-size: 14px;
    text-align: center;
}

.value__img {
    margin-right: 10px;
}

.tech__img {
    margin-left: 10px;
}

.value__img,
.tech__img {
    width: 60%;
    margin-top: 70px;
    height: auto;
}

.value__items {
    position: relative;
    width: 100%;
}

.value__des {
    position: absolute;
    right: 35%;
    bottom: -38px;
    padding: 50px 115px;
    writing-mode: horizontal-tb;
    /* background-color: rgba(249, 233, 6, 0.55); */
    background-color: rgba(190, 200, 50, .55);
    color: #FFF;
    text-align: center;
    text-shadow: 1px 2px 10px #000;
}

.tech__items {
    position: relative;
    width: 100%;
}

.tech__des {
    position: absolute;
    left: 35%;
    bottom: -38px;
    padding: 50px 115px;
    writing-mode: horizontal-tb;
    /* background-color: rgba(149, 42, 38, 0.55); */
    background-color: rgba(160, 200, 50, .55);
    color: #FFF;
    text-align: center;
    text-shadow: 1px 2px 10px #000;
}

/* shop */
.shop__map {
    vertical-align: bottom;
}

/* footer */
.footer__items {
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-right: 80px;
    background-color: rgba(0, 0, 0, .9);
    color: #FFF;
}

.footer__address {
    margin-right: 60px;
    font-style: normal;
}

.footer__tel {
    display: inline-block;
    padding-right: 7px;
}

.footer__tel:hover {
    opacity: .7;
}

.footer__left {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 10;
    display: flex;
}

.footer__ec {
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
}

.footer__contact {
    padding-top: 10px;
}

.footer__ec>a:hover,
.footer__contact>a:hover {
    opacity: .7;
}

.footer__copy {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 10px;
}

@media (max-width: 768px) {
    .mt180 {
        margin-top: 80px;
    }

    .header__items {
        background-image: url(../img/mainvisual-sp.jpg);
    }

    .news__ttl::before {
        display: none;
    }

    .news__list {
        width: 75%;
        margin-right: 50px;
        overflow: scroll;
    }

    .value__ttl::after {
        content: "";
    }

    .tech__ttl::after {
        content: "";
    }

    .value__img,
    .tech__img {
        width: 85%;
    }

    .value__des {
        left: 0;
        padding: 30px 40px;
    }

    .tech__des {
        right: 0;
        padding: 30px 40px;
    }

    .footer__items {
        padding-top: 40px;
        padding-right: 30px;
    }

    .footer__left {
        top: 40px;
        left: 30px;
    }
}

@media (max-width: 448px) {
    .ft32 {
        font-size: 24px;
    }

    .ft18 {
        font-size: 16px;
    }

    .header__items {
        padding: 30px 40px;
    }

    .nav {
        margin-right: 30px;
    }

    .news__list {
        margin-right: 25px;
    }

    .value__img,
    .tech__img {
        width: 75%;
    }

    .value__des {
        padding: 15px 20px;
    }

    .tech__des {
        padding: 15px 20px;
    }

    .footer__address {
        margin-right: 30px;
    }

    .footer__items .nav {
        margin-right: 15px;
    }

    .footer__items .nav__list {
        flex-direction: row;
    }
}