@use "variables";

/* contact */
.contact {
    &Items {
        padding-top: 20px;
    }

    &Title {
        font-size: variables.$fontsize-big;
        text-align: center;
    }

    &Form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        font-size: variables.$fontsize-original;
        margin-top: 50px;
        padding-bottom: 100px;
    }

    &List {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        
        &:first-child {
            margin-top: 0;
        }

        >label {
            width: 10%;

            >span {
                display: block;
                color: rgba(255, 0, 0, 0.7);
            }
        }

        >input,textarea {
            width: 40%;
            padding: 10px;
            border: 1px solid #8c8c8c;
            border-radius: 1px;
        }
    }

    &Btn {
        margin-top: 10px;
        text-align: center;
    }
}

.submitBtn {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #8c8c8c;
    border-radius: 1px;

    &:hover {
        opacity: 0.7;
    }
}