@charset "UTF-8";

/* 所要時間: 3hrs */
body {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

/* header */
.header__items {
    padding-bottom: 26px;
    border-bottom: 1px solid #C3C3C3;
}

.header__logo {
    padding-top: 46px;
    padding-bottom: 36px;
    text-align: center;
    line-height: 0;
}

.header__logoImg {
    width: 108px;
    height: 18px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 12px;
}

.header__nav1 {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header__nav2 {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header__navList:hover {
    opacity: .6;
}

/* main */
.content {
    display: flex;
    gap: 60px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.productFlex {
    width: 50%;
    text-align: center;
}

.product__item {
    max-width: 400px;
    max-height: 500px;
    object-fit: cover;
}

.product__size {
    width: 100%;
    height: auto;
    margin: 30px auto 0;
    font-size: .75rem;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.infoFlex {
    width: 50%;
}

.info__title {
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    font-size: 1rem;
}

.info__des {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: .75rem;
    line-height: 1.6;
}

.info__price {
    font-size: .75rem;
}

.info__size {
    width: 100%;
    height: auto;
    margin-top: 30px;
    font-size: .75rem;
}

.info__headerTitle {
    border-right: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
}

.info__headerTitle:last-child {
    border-right: none;
}

.info__body>td {
    border-right: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
}

.info__body>td:last-child {
    border-right: none;
}

.info__body:last-child>td {
    border-bottom: none;
}

input[type="number"] {
    width: 184px;
    height: 18px;
    border: 1px solid #C3C3C3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

select[name="info__num"] {
    width: 100%;
    border: solid 1px #c3c3c3;
    padding: 0 10px;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

.info__btn {
    width: 100%;
    margin-top: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #4B4B4B;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .75rem;
}

.info__btn:hover {
    opacity: .9;
}

/* footer */
.footer__items {
    padding-bottom: 10px;
    text-align: center;
}

@media (max-width: 690px) {
    .header__items {
        padding-bottom: 13px;
    }

    .header__nav {
        justify-content: center;
        gap: 20px;
    }

    .header__nav1 {
        overflow: scroll;
        margin-right: 14px;
    }

    .header__logo {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .content {
        padding-top: 25px;
        gap: 30px;
    }
}

@media (max-width: 490px) {
    .header__logo {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header__nav {
        gap: 10px;
    }

    .content {
        flex-direction: column;
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .productFlex {
        width: 100%;
    }

    .product__size {
        margin: 15px auto 0;
    }

    .product__item {
        max-width: 100%;
        max-height: 100%;
    }

    .infoFlex {
        width: 100%;
    }

    .info__size {
        width: 100%;
    }

    .info__title {
        margin-top: 10px;
    }

    .footer__items {
        padding-bottom: 15px;
    }
}