@charset "UTF-8";

body {
    font-family: 'Crimson Pro', serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

/* header */
.header__logo {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    width: 120px;
    height: 40px;
    line-height: 0;
}

.header__mainvisual {
    position: relative;
}

.header__mainvisualImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* hook */
.hookMg {
    margin-top: 60px;
}

.hook__items {
    text-align: center;
}

.hook__des {
    width: 70%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* archivenew */
.archivenewMg {
    margin-top: 40px;
}

.archivenew__items {
    display: flex;
    align-items: center;
}

.archiveWd,
.newWd {
    width: 50%;
}

.archive__items,
.new__items {
    display: block;
    position: relative;
}

.archive__about,
.new__about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: #FFF;
}

.archive__title,
.new__title {
    font-weight: bold;
    font-size: 20px;
}

.archive__items:hover,
.new__items:hover {
    opacity: .7;
}

/* fashion */
.fashionMg {
    margin-top: 80px;
}

.fashion {
    background-image: url(../img/fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.fashion__items {
    padding-top: 60px;
    padding-bottom: 250px;
    text-align: center;
}

.fashion__des {
    margin-top: 20px;
}

.fashion__btn {
    display: inline-block;
    margin-top: 30px;
    border: 1px solid #2A2A2A;
}

.fashion__btn:hover {
    opacity: .6;
}

.fashion__link {
    display: inline-block;
    padding: 13px 35px;
}

/* catalog antique */
.catalog,
.antique {
    background-color: #F5F5F5;
}

.catalog__items,
.antique__items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.catalog__items {
    padding-top: 80px;
}

.antique__items {
    padding-bottom: 60px;
}

.catalog__info,
.antique__info {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.catalog__info {
    padding-left: 30px;
}

.antique__info {
    padding-right: 30px;
}

.catalog__img,
.antique__img {
    width: 50%;
}

.catalog__img>img,
.antique__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog__des>p,
.antique__des>p {
    margin-top: 30px;
}

.antique__btn {
    display: inline-block;
    margin-top: 60px;
    border: 1px solid #2A2A2A;
}

.antique__btn:hover {
    opacity: .6;
}

.antique__link {
    display: inline-block;
    padding: 13px 35px;
}

/* mag88 */
.mag88 {
    background-color: #333333;
    color: #FFFFFF;
}

.mag88__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 35px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mag88__logo,
.mag88__item1,
.mag88__item2 {
    width: calc(100%/3);
}

.mag88__title1,
.mag88__title2 {
    padding-bottom: 10px;
    font-weight: bold;
}

.mag88__text1::before {
    content: "-";
    margin-right: 5px;
}

/* footer */
.footer__items {
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
}

@media (max-width: 710px) {
    .archive__about,
    .new__about {
        padding: 5px 5px;
    }
}

@media (max-width: 560px) {
    .header__mainvisualImg {
        height: calc(100vh / 1.5);
        object-fit: cover;
    }

    .hookMg {
        margin-top: 30px;
    }

    .hook__des {
        width: 100%;
    }

    .archivenew__items {
        flex-direction: column;
    }

    .archiveWd,
    .newWd {
        width: 100%;
    }

    .fashion__items {
        padding-top: 30px;
        padding-bottom: 150px;
    }

    .catalog__items {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .antique__items {
        flex-direction: column-reverse;
    }

    .catalog__info,
    .antique__info {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .catalog__info {
        padding-left: 0;
    }

    .antique__info {
        padding-right: 0;
    }

    .catalog__img,
    .antique__img {
        width: 100%;
    }

    .catalog__des>p,
    .antique__des>p {
        margin-top: 15px;
    }

    .antique__btn {
        margin-top: 30px;
    }

    .mag88__items {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .mag88__logo,
    .mag88__item1,
    .mag88__item2 {
        width: 100%;
    }

    .mag88__logo {
        text-align: center;
    }

    .footer__items {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}